<h1>Edit sighting</h1>

<% if @sighting.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/sightings/<%= @sighting.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="species">Species</label>
  <input id="species" name="sighting[species]" type="text" value="<%= @sighting.species %>">
  <label for="place">Place</label>
  <input id="place" name="sighting[place]" type="text" value="<%= @sighting.place %>">
  <label for="date">Date</label>
  <input id="date" name="sighting[date]" type="text" value="<%= @sighting.date %>">
  <button>Update Sighting</button>
</form>
